*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

/* parte principal do site */
/* coloca os produtos um ao lado do outro */
.produtos{
    width: 940px;
    margin: 0 auto;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}